/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body{
    margin: 0px;
}

.auth-card{
    margin: 10px auto;
    width: 60%;
}

.auth-form{
  display: flex;
  flex-direction: column;
}

.auth-form > * {
  width: 50%;
}