/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body{
    margin: 0px;
    background-color: #FAFAFA;
}


h1{
  padding: 0px 15px;
}

.auth-card{
    margin: 20px auto;
    width: 76%;
    /*position: relative;
    bottom: 100px;*/
}

.auth-form{
  display: flex;
  flex-direction: column;
}

.auth-form > * {
  width: 50%;
}

.mat-toolbar .mat-toolbar-row{
  padding: 0px 150px;
}