<mat-card class="register-card">
  <mat-card-title >Registration Form</mat-card-title>
  <form #registerForm (submit)="registerFormSubmit()" class="example-form" >
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Username:"  name="username" [(ngModel)]="user.username" #username="ngModel" required>
      <mat-error>This field is required</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="password" matInput placeholder="Password:" name="password" [(ngModel)]="user.password" #password="ngModel" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="password" matInput placeholder="Confirm Password:">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="First Name:">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Last Name:">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email:">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <span matPrefix>+359 &nbsp;</span>
      <input type="tel" matInput placeholder="Telephone">
    </mat-form-field> 

    
  <div class="button-row">
    <button mat-raised-button color="primary">Back</button>
    <button type="submit" mat-raised-button color="primary">Send</button>
  </div>
  </form>
</mat-card>